<!DOCTYPE html>
<html>
  <head>
    <title>Markdown Note taking APP </title>
    <link rel="stylesheet" href="styles.ccs">
  </head>
  <body>
    <header>
        <nav class="nav">
            <ul>
              <li><a href="/">Home</a></li>
                <li><a href="/list">Notes List</a></li>
            </ul>
        </nav>
        <h1>Markdown Note taking APP</h1>
    </header>
    <main>
        <%- body %>
    </main>

  </body>
</html>